body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "hero"
    "main"
    "banner"
    "extra"
    "image";
  grid-gap: 10px;
  padding: 10px;
  min-height: 100vh;
}

.header,
.menu,
.hero,
.main,
.banner,
.extra,
.image {
  background-color: inherit;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.header {
  background-color: #e43030;
}

.menu {
  background-color: #751659;
}

.hero {
  background-color: #0097fc;
}

.main {
  background-color: #19222b;
}

.banner {
  background-color: #923e0e;
}

.extra {
  background-color: #0c5244;
}

.image {
  background-color: #a3acae;
  color: black;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-areas:
      "header header header"
      "hero hero hero"
      "menu main main"
      "menu banner banner"
      "menu extra image";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .menu {
    grid-area: menu;
  }

  .main {
    grid-area: main;
  }

  .banner {
    grid-area: banner;
  }

  .extra {
    grid-area: extra;
  }

  .image {
    grid-area: image;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-areas:
      "header menu menu menu "
      "hero hero hero hero"
      "hero hero hero hero"
      "hero hero hero hero"
      "hero hero hero hero"
      "main main . image "
      "main main . extra"
      "banner banner banner banner";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }

  .header {
    grid-area: header;
  }

  .menu {
    grid-area: menu;
  }

  .hero {
    grid-area: hero;
  }

  .main {
    grid-area: main;
  }

  .image {
    grid-area: image;
  }

  .extra {
    grid-area: extra;
  }

  .banner {
    grid-area: banner;
  }
}
